{% extends 'pages.html' %}
{% block main %}
<h1>
  Empowering Memories Online is dedicated to preserving and honoring cherished memories.
</h1>
  <h2>Whether you're here to create tributes, view memorials, or share stories, we're here to support you.</h2>
<div class="home-text">
<p>
  We all have that someone special in whom we'll confide in.
  Sadly life isn't fair and takes them too soon, don't let it take the memory of them from you!
</p>
<p>
  Preserving your beloved's memory is our utmost importance, let's make it happen!
</p>
  <br>
  <p>Head over to the <a href="{{url_for('form')}}">Form </a> and fill out the information to keep the love alive!</p>
</div>
{% endblock %}
